{% if task.status in (TaskStatus.COMPLETED, TaskStatus.COMPLETED_EDITED)%}
{% set status_icon %}
<span class="glyphicon glyphicon-ok-circle" style="color: green"></span> 
<small style="color: green;">{{ TaskStatus.description.get(task.status) }}</small>
{% endset %}
{% else %}
{% set status_icon %}
<span class="glyphicon glyphicon-remove-circle" style="color: red"></span>
<small style="color: red;">{{ TaskStatus.description.get(task.status) }}</small>
{% endset %}
{% endif %}

<div class="panel panel-primary">
  <div class="panel-heading panel-heading_justify">
    <h3 class="panel-title">{{ task.username }}-{{ task.email }}</h3>
    {% if session.get("token") %}
      <a href="{{ url_for('tasks.edit', task_id=task.id, task_text=task.text, task_status=task.status) }}" style="display: block;">
      <span class="glyphicon glyphicon-pencil"></span>
    {% endif %}
    </a>
  </div>
  <div class="panel-body">
  <div>
    {{ task.text }}
  </div>
  <div>
  {{ status_icon }}
  </div>
  </div>
</div>